<ul class="nav flex-column">
    <li class="nav-item"><a class="sub-link text-dark" href"#" onclick="loadPage('/AI/Index')">AI Chat</a></li>
    <li class="nav-item"><a class="sub-link text-dark" href"#" onclick="loadPage('/F1/Index')">OpenF1 API Demo</a></li>
</ul>