@* Resume Index *@

@{
    ViewData["Title"] = "Resume";
}

<div data-require-style="/css/resume.css"></div>
<div class="pdf-container">
    <embed src="/content/Resume.pdf#zoom=page-width" type="application/pdf" />
</div>