@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test link: <a href="#" onclick="loadIframe('https://www.agio.se//')">Agio System & Kompentens</a>.</p>

    <iframe id="contentFrame"></iframe>
</div>
