.bio-form-wrapper {
    max-width: 700px;
    width: 100%;
    padding: 1.5rem 1rem;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .contact-form-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}