@font-face {
    font-family: 'DS-Digital-Regular';
    src: url('/fonts/DS-DIGI.TTF') format('truetype');
}

@font-face {
    font-family: 'DS-Digital-Bold';
    src: url('/fonts/DS-DIGIB.TTF') format('truetype');
}

.f1-uppercase {
    text-transform: uppercase;
}

.f1-link {
    color: var(--color-dark);
    text-decoration: none;
}

    .f1-link:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }

.f1-leader {
    font-weight: bold;
    color: var(--color-primary);
}
    .f1-leader .f1-link {
        color: var(--color-primary);
    }

        .f1-leader .f1-link:hover {
            color: var(--color-dark);
            text-decoration: underline;
        }

.f1-content {
    margin-top: 1rem;
}

.f1-fixed-table {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}


.f1-table {
    color: var(--color-dark);
    background-color: var(--color-bg);
    border: none;
}

    .f1-table .row {
        padding: 10px 0px;
        border-bottom-style: solid;
        border-bottom-color: var(--color-primary);
        border-bottom-width: thin;

    }

.f1-table-header {
    color: var(--color-dark);
    font-weight: bold;
    padding-top: 0.8rem;
}

.f1-fixed-table td:nth-child(2),
.f1-fixed-table td:nth-child(3) {
    width: 7.5rem;
    min-width: 7.5rem;
    white-space: nowrap;
}

.f1-session-day {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.f1-session-time {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.f1-countdown {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

.f1-countdownDays {
    display: flex;
    margin-left: 1.5rem;
}

.f1-countdownTime {
    display: flex;
    margin-left: 1.5rem;
}

.f1-count-num-days {
    font-family: 'DS-Digital-Bold', sans-serif;
    font-size: 4rem;
    color: var(--color-primary);
    margin-right: 4px;
    line-height: 1;
}

.f1-count-num {
    font-family: 'DS-Digital-Bold', sans-serif;
    font-size: 2.5rem;
    color: var(--color-primary);
    margin-right: 4px;
}

.f1-count-label {
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-primary);
}

.f1-info {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    color: var(--color-dark);
    padding-top: 0.8rem;
}

.f1-info-label {
    font-weight: bold;
}

.f1-info-table {
    font-size: 1rem;
}

.f1-toggle-wrapper {
    position: relative;
    width: 160px;
    height: 25px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12px;
    color: var(--color-dark);
}

.toggle-side {
    flex: 1;
    height: 100%;
    transform: skew(-20deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
    z-index: 0;
}

.f1-toggle-wrapper .left {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: solid var(--color-dark) thin;
}

.f1-toggle-wrapper .right {
    background-color: var(--color-white);
    color: var(--color-dark);
    border: solid var(--color-dark) thin;
}

.f1-toggle-wrapper.my-active .left {
    background-color: var(--color-white);
    color: var(--color-dark);
    border-width: thin;
}

.f1-toggle-wrapper.my-active .right {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-width: 2px;
}

.f1-toggle-wrapper:not(.my-active) .left {
    border-width: 2px;
}

.f1-toggle-wrapper:not(.my-active) .right {
    border-width: thin;
}

.f1-nav-tabs {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.f1-nav-link {
    background-color: var(--color-white);
    border-color: var(--color-border-light) !important;
    border-style: solid !important;
    border-width: 0.12rem !important;
    border-width: 0.15rem !important;
    transform: skew(-30deg);
    color: var(--color-dark);
    font-weight: normal;
    font-family: var(--font-heading);
    font-size: 0.8rem;
    display: inline-block;
    min-width: 10.3rem;
    text-align: center;
    white-space: nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: font-weight 0.2s ease;
}

    .f1-nav-link:hover {
        font-weight: bold !important;
        background-color: var(--color-border-light);
        color: var(--color-dark) !important;
        border-color: var(--color-dark) !important;
        border-width: 0.15rem;
    }

.nav-tabs .f1-nav-link.active {
    font-weight: bold !important;
    background-color: var(--color-border-light);
    color: var(--color-dark) !important;
    border-color: var(--color-dark) !important;
    border-width: 0.15rem !important;
}


/* Responsive tweaks for mobile */
@media screen and (max-width: 600px) {
    html {
        overflow-y: hidden;
    }

    .f1-nav-tabs {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .f1-fixed-table {
        font-size: 0.9rem;
    }

        .f1-fixed-table td:nth-child(2),
        .f1-fixed-table td:nth-child(3) {
            width: 5.5rem;
            min-width: 5.5rem;
            flex-wrap: nowrap;
        }

    .f1-session-time,
    .f1-session-date {
        font-size: 0.9rem;
    }

    .f1-nav-link {
        width: auto;
        min-width: auto;
        font-size: 0.7rem;
        padding: 0.6rem 0.6rem;
        flex-wrap: nowrap;
    }
}
